@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
:root{
    --text-color: #667085;
    --main-color: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh; 
}

.cabecalho {
    padding: 2% 0 0 10%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0; 
    align-items: center;
}

.cabecalho__menu__nome {
    font-size: 18px;
    font-weight: 500;
    color: #3A404E;
    padding-top: 2px;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

button.cadastrar {
    background-color: var(--main-color);
    color: #FFF;
}

.cabecalho-container {
    display: flex;
    align-items: center;
    padding: 96px 0px 96px 0px;
}

.cabecalho-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    gap: 24px;
}

span {
    font-family: 16px;
    font-weight: 600;
    color: var(--main-color);
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #101828;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

.metricas-container {
    align-items: center;
    margin: 64px 0 0;
}

.metricas-content {
    display: flex;
    flex-direction: row;
    padding: 0 32px 0 32px;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
}

.metricas-content-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}

.metricas-content-numero {
    font-size: 60px;
    color: var(--main-color);
    font-weight: 600;
    text-align: left;
}

.metricas-content-titulo {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    font-weight: 500;
    text-align: left;
}

.metricas-content-texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    text-align: left;
}

.vagas-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 96px 112px;
    gap: 32px;
}

.vagas-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.vagas-content span {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
}

.vagas-content h2 {
    font-size: 36px;
    font-weight: 600;
}

.vagas-imagem {
    width: 100%;
}

.area-vaga {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;
    margin: 0 auto;
    text-align: left;
}

.area-vaga span {
    font-weight: 500;
    font-size: 20px;
    color: #101828;
}

.titulo-vaga {
    font-size: 20px;
    color: #101828;
}

.lista-vaga {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 30px;
}

.titulo-vaga {
    font-size: 18px;
    font-weight: 500;
    color: #101828;
}

.informacoes {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.informacoes span {
    font-weight: 500;
    font-size: 16px;
    color: #667085;
}

.depoimentos-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    padding-bottom: 64px;
}

.depoimentos-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
    margin-top: 40px;
}

.depoimentos-content h3 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
}

.informacoes-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-foto {
    width: 56px;
    height: 56px;
    border-radius: 50px 50px 50px 50px;
    opacity: 0px;
    align-items: center;
}

.perfil-nome {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #101828;
}

.perfil-funcao {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #667085; 
}

footer {
    padding-top: 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    padding-bottom: 32px;
}

h4 {
    font-size: 36px;
    font-weight: 500;
}

footer input {
    outline: none;
    border: 1px solid #D0D5DD;
    border-radius: 0.5rem;
    padding-left: 1rem;
    width: 12rem;
    margin-right: 1rem;
}

/* responsividade */

.sideMenu {
    display: none;
    visibility: hidden;
}

.menu.active {
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .links a {
    margin-bottom: 2rem;
}

.sideMenu img {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sideMenu {
    display: initial;
    visibility: visible;
}

.links {
  margin: 2rem 0;
}

.links a {
  margin-right: 0;
}

.menu {
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -1000px;
  height: 100vh;
  background: #F9FAFB;
  width: 15rem;
  padding: 2rem;
  transition: all 2s;
}
.menu .links, .menu .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}